<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509755106428-s7k9ah8ci5h5647dsm674ak8f6covn6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509755106428-s7k9ah8ci5h5647dsm674ak8f6covn6p</string>
	<key>API_KEY</key>
	<string>AIzaSyDh-Jv_kBIa0gwrnXu77v_kqH97bc3xIS4</string>
	<key>GCM_SENDER_ID</key>
	<string>509755106428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Stefan-Hitrov.SHApp</string>
	<key>PROJECT_ID</key>
	<string>shapp-b9e68</string>
	<key>STORAGE_BUCKET</key>
	<string>shapp-b9e68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509755106428:ios:1d018712f8d69f21d895f9</string>
	<key>DATABASE_URL</key>
	<string>https://shapp-b9e68.firebaseio.com</string>
</dict>
</plist>